body {
    font-family: Arial, sans-serif;
}

body {
    background: #E9ECF3;
}

*{
    word-wrap: break-word;
}

/*------ Nav Bar ------*/
.uk-navbar {
	background: transparent;
	padding: 10px 0px 15px 0px;
}
#offNav {
	text-align: center;
}
#offNav a {
	color:white;
}
#offNav li {
	width: 100%;
}
#offNav li:hover a {
	color:#333333;
}
#offNav .uk-dropdown {
	background-color: black;
}
#offNav .uk-dropdown li a {
	color:white;
}

.assisted_center {
	margin-left: 55px;
}
/*------ END Nav Bar ------*/

/*------ Main Picture ------*/
#background-area {
	background: #0F2D53;
	border-top: 10px solid #0F2D53;
	padding: 19px 0 28px 0;
}

IMG.display {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*------ END Main Picture ------*/

/*------ Mini Content ------*/
.mini_content_info h3 {
    font-weight: bold;
    margin-bottom: 0px;
}

.mini_content_info p {
    color: #363636;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 22px;
    padding-left: 42px;
}

.mini_content_info a {
    color: #0F2D53;
}

.mini_content_info a img {
    margin: 0 8px 1px 0;
}

.mini_content_info a:hover {
    text-decoration: underline;
}
/*------ END Mini Content ------*/

/*------ Footer Styling ------*/
.footer_content {
    margin-top: 50px;
}

.footer_content  ul {
	list-style: none;
}

.footer_content  li {
	margin-top: 7px;
}

.footer_content a {
	color: #0F2D53;
}

.footer_content a:hover {
	color: #0F2D53;
}

.footer_content h3 {
    font-weight: bold;
}

.footer_content_else h3 {
    font-weight: bold;
    margin-left: 29px;
}

.footer_content p {
    color: #363636;
    line-height: auto;
    margin-bottom: 22px;
    font-size: 12px;
}

.footer_bold_text {
	font-weight: bold;
}

.footer_contact_us h3 {

}

.footer_spacing {
    margin-top: 10px
}

/*------ Product Content ------*/
.product_content_info h3 {
    font-weight: bold;
    text-align: center;
}

.product_content_info p {
    color: #363636;
    line-height: 20px;
    margin-bottom: 22px;
}

.product_content_info a {
    color: #0F2D53;
}

.product_content_info a img {
    margin: 0 8px 1px 0;
}

.product_content_info a:hover {
    text-decoration: underline;
}
/*------ END Product Content ------*/

/*------ Unit Content ------*/
.unit_content_info h2 {
    font-weight: bold;
    text-align: center;
}

.unit_content_info h3 {
    font-weight: bold;
    text-align: left;
 }

.unit_content_info p {
    color: #363636;
    line-height: 20px;
    margin-bottom: 22px;
}

.unit_content_info a {
    color: #0F2D53;
}

.unit_content_info a img {
    margin: 0 8px 1px 0;
}

.unit_content_info a:hover {
    text-decoration: underline;
}

.list_content  ul {
	list-style: none;
}
/*------ END Unit Content ------*/

/*------ Techncial Content ------*/
.technical_info h3 {
    font-weight: bold;
}

.technical_content h2 {
    /*padding-top: 25px;*/
    text-align: center;
}

.technical_downloads {
    text-align: center;
}

.technical_downloads a {
    color: #0F2D53;
}
.technical_downloads a:hover {
    text-decoration: underline;
}
/*------ END Techncial Content ------*/

/*------ Applications ------*/

.applications {
    /*margin-top: 50px;*/
    text-align: center;
}

.applications p {
    text-align: left;
}

.applications img {
    margin-top: 10px;
    height: 200px;
}
/*------ END Applications ------*/

/*------ Replacement Parts ------*/

.replace_style {
    margin-top: 170px;
}
/*------ END Replacement Parts ------*/

#miniLinks {
    overflow: auto;
    margin-top: 5px;
}
#miniLinks h3 {
    margin:0px;
    font-weight: bold;
}
#miniLinks img {
    margin-right: 3px;
}
#miniLinks article {
    float:left;
}
#miniLinks p {
    margin:0px 8px;
    text-align: left;
}
#miniLinks a {
    display: block;
}